body {
  background-color: rgb(35, 35, 35);
}

img,
svg,
video {
  max-width: 100%;
  /* display: block; */
  
}

.navbar{
    background-color: rgb(75, 73, 73) !important;
}

.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-brand{
    color: aliceblue;
}

.bs-btn-hover-bg{
  color: rgba(240, 125, 11, 0.7) ;
}

main {
  width: min(90ch, 100% - 4rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

main h1,
h2,
h3 {
  text-align: center;
  color: aliceblue !important;
  padding: 10px;
   margin-top: 20px;
font-family: 'Paytone One', sans-serif;
 
}

p{
  margin: 10px;
}

.rounded-3{
    border: 2px solid rgba(213, 135, 51, 0.419);
}

