@mixin flexible($dis, $direction, $just, $align){
    display: $dis;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;

}

 .intro-contenido{
    @include flexible(flex, column, center, center)
 }