.container-footer {
  background-color: $color-fondo;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  .lista-footer {
    background-color: $color-fondo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;

    .li-footer {
      margin: 20px;
      color: rgba(229, 225, 225, 0.742);
    }
  }
}
