.col {
  .card {
    .card-body {
      background-color: $color-fondo;
      .card-title {
        color: $color-principal;
      }
      .card-text {
        color: $color-texto;
      }
    }
  }
}
