.grid-cards {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  .col {
    .card {
      background-color: rgba(247, 100, 47, 0.832);
      margin: 10px;
      border: 2px solid goldenrod;
      .card-body {
        background-color: rgba(246, 142, 104, 0.832);
        margin: 10px;
        border: 2px solid goldenrod;
        .card-title {
          color: $color-principal;
        }
        .card-text {
          color: $color-texto;
          font-weight: 800;
        }
      }
    }
  }
  @media (min-width: 320px) {
    .card {
       margin: auto;
      display: block;
      background-color: rgba(246, 142, 104, 0.832);
      margin: 10px;
      border: 2px solid goldenrod;

      .card-img-top {
        width: 70%;
      }
    }
    .card-body {
      .card-title {
        font-weight: 800;
        position: relative;
        bottom: 10px;
      }
      p {
        position: relative;
        bottom: 10px;
        margin-bottom: 60px;
      }
    }
  }

  @media (min-width: 375px) {
    .card {
      margin: auto;
      display: block;
      background-color: rgba(246, 142, 104, 0.832);
      margin: 10px;
      border: 2px solid goldenrod;

      .card-img-top {
        width: 60%;
      }
    }
    .card-body {
      .card-title {
        font-weight: 800;
        position: relative;
        bottom: 10px;
      }
      p {
        position: relative;
        bottom: 10px;
        margin-bottom: 60px;
      }
    }
  }

  @media (min-width: 768px) {
    .card {
      background-color: rgba(255, 107, 54, 0.687);
      margin: 10px;
      border: 2px solid goldenrod;
    }
    .card-img-top {
      width: 80%;
    }
    .card-body {
      .card-title {
        font-weight: 900;
      }
      .card-text {
        color: $color-fondo;
        font-weight: 800;
      }
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  .content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 8px;
    padding-top: 10px;
    background: rgb(201, 198, 198);
    border: 2px solid goldenrod;
    .parrafo {
      margin-bottom: 10px;
      font-size: 18px;
      color: $color-fondo;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    h3 {
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
    }
    a {
      text-decoration: none;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      list-style: none;
      .checked {
        color: $color-principal;
      }
    }
    .buy-1 {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 40px;
      border: 2px solid $color-principal;
      color: $color-texto;
      background: $color-principal;
      border-radius: 8px;
      :hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      }
    }
    .buy-1:hover {
      background: none;
    }
    @media (min-width: 1920px) {
      h3 {
        font-size: xx-large;
      }
    }
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 320px) {
      margin-top: 20px;
      width: 300px;
      height: 500px;
    }
  }
}

.galeria-imagenes {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  @media (min-width: 100px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 728px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.imagen {
  width: 100%;
  img {
    width: 100%;
    border-radius: 8%;
  }
}
