.grid-cards{
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
.col {
  .card {
    .card-body {
      background-color: $color-fondo;
      .card-title {
        color: $color-principal;
      }
      .card-text {
        color: $color-texto;
      }
    }
  }
}
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  .content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border: radius 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
    transition: 0.4s;
    background: grey;
    .parrafo {
      margin-bottom: 10px;
      font-size: 18px;
      color: $color-texto;
    }
    :hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    img {
      width: 200px;
      height: 200px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    h3 {
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
    }
    a {
      text-decoration: none;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      list-style: none;
      .checked {
        color: $color-principal;
      }
    }
    .buy-1 {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 40px;
      border: 2px solid $color-principal;
      color: $color-texto;
      background: $color-principal;
      @media (max-width: 1000px) {
        margin-bottom: 30px;
      }
      @media (max-width: 750px) {
        margin-bottom: 30px;
      }
    }
    .buy-1:hover {
      background: none;
    }
    @media (max-width: 1000px) {
      width: 50%;
    }
  }
  @media (max-width: 750px) {
    width: 100%;
  }
}


  .galeria-imagenes {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    @media (min-width: 100px) {
      grid-template-columns: repeat(1, 1fr);
      
    }
    @media (min-width: 520px) {
      grid-template-columns: repeat(2, 1fr);
      
    }
    @media (min-width: 728px) {
      grid-template-columns: repeat(3, 1fr);
      
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      
    }
  }
  .imagen{
   
    width: 100%;
    img{
      width: 100%;
      border-radius: 8%;
    }
  }