main {
  h1,
  h3 {
    text-align: center;
  }

  .intro-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro-font {
      text-align: center;
    }
    .textocon {
      color: $color-texto;
      margin: 30px;
    }
    .textocon2 {
      color: $color-texto;
    }
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      color: rgb(255, 132, 0);
      padding: 8px 30px;
      border: 1px solid rgb(255, 132, 0);
    }
  }

  .intro-containershop {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;

    img {
      margin: 30px;
      border-radius: 8px;
      border: 2px solid rgb(215, 142, 6);
      height: 400px;
      width: 80%;
    }
    @media (min-width: 468px) {
      .intro-containershop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      img {
        margin-left: 120px;
        border-radius: 8px;
        border: 2px solid rgb(215, 142, 6);
        height: 300px;
        width: 50%;
      }
    }
    @media (min-width: 786px) {
      .intro-containershop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      img {
        margin-left: 270px;
        border-radius: 8px;
        border: 2px solid rgb(215, 142, 6);
        height: 300px;
        width: 30%;
      }
      .textocon {
        margin: 30px;
      }
    }
    @media (min-width: 990px) {
      .intro-containershop {
        display: flex;
        flex-direction: row;
      }
      img {
        margin-left: 470px;
        border-radius: 8px;
        border: 2px solid rgb(215, 142, 6);
        height: 300px;
        width: 20%;
      }
      .textocon {
        width: 500px;
        margin: 10px;
      }
    }
  }

  .container-uno {
    display: flex;
    flex-direction: column;
    .col {
      img {
        height: 30%;
      }
    }
  }
  .contenedor {
    .textocon {
      color: white;
      text-align: center;
    }
  }
}
