main {
  h1 {
    text-align: center;
  }

  .intro-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro-font {
      text-align: center;
    }
    .textocon {
      color: $color-texto;
    }
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      color: rgb(255, 132, 0);
      padding: 8px 30px;
      border: 1px solid rgb(255, 132, 0);
    }
  }

  .intro-containershop {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;

    img {
      margin: 30px;
      border-radius: 8px;
      border: 2px solid rgb(215, 142, 6);
      height: 400px;
      width: 80%;
    }
  }

  .container-uno {
    display: flex;
    flex-direction: column;
    .col {
      img {
        height: 30%;
      }
    }
  }
}
