.container-uno {
  .textocon2 {
    color: $color-texto;
    margin: 30px;

    @media (min-width: 990px) {
      width: 900px;
      margin-left: 350px;
    }
  }
  .miClase {
    .titulo {
      color: $color-texto;
    }
    .texto {
      color: $color-texto;
    }
  }
  @media (min-width: 990px) {
    display: flex;
    flex-direction: row;
  }
}

.container-dos {
  .subtitulo {
    text-align: center;
  }
  .miClase {
    .titulo {
      color: $color-texto;
    }
    .texto {
      color: $color-texto;
    }
  }
  @media (min-width: 990px) {
    display: flex;
    flex-direction: row;
  }
}

.container {
  max-width: 800px;
}
