.container-fluid {
  margin: 5px !important;

  .navbar-brand {
    color: $color-principal;
    font-weight: bold;
    margin: 3px;
  }

  .navbar {
    margin: 5px;
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
      color: antiquewhite;
    }
  }
}
