.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: url(../assets/images/hongoheaderye.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  .title {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 40px;
    font-size: 18px;
    color: $color-texto;
  }
  .btn-home {
    display: flex;
    a {
      margin: 0 10px;
    }
    .btn:hover {
      background: none;
    }

    .btn {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 40px;
      border: 2px solid $color-principal;
      color: $color-texto;
      background: $color-principal;
    }
  }
  @media (min-width: 320px) {
    .title {
      font-size: larger;
      color: rgb(225, 109, 66);
      font-weight: 900;
    }
    .parrafo-principal {
      font-weight: 800;
    }
    .btn {
      position: relative;
      top: 30px;
    }
  }
  @media (min-width: 768px) {
    .title {
      margin-bottom: 0;
      font-size: 40px;
    }
  }
  @media (min-width: 1900px) {
    .title {
      font-size: 100px;
    }
    .parrafo-principal {
      font-size: 60px;
    }
    .btn {
      position: relative;
      top: 30px;
      width: 200px;
    }
  }
}

.content-sau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(33 31 31);

  .title {
    margin-top: 30px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .parrafo-principaldos {
    margin-bottom: 40px;
    font-size: 18px;
    color: $color-texto;
    padding: 0 100px;
    width: 800px;
  }
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    .title {
      font-size: large;
      font-weight: 800;
    }
    .parrafo-principaldos {
      width: 400px;
    }
  }
  @media (min-width: 768px) {
    .parrafo-principaldos {
      width: 700px;
    }
  }

  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    h3 {
      position: relative;
      bottom: 10px;
    }
    .box {
      height: 11rem;
      width: 17rem;
      background: rgb(50, 48, 48);
      text-align: center;
      border-radius: 1rem;
      box-shadow: 0 0.3rem 5rem rgb(0, 0, 0, 0.5);
      margin: 2rem;
      border: 4px solid goldenrod;
    }
    i {
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
      text-align: center;
      border-radius: 50%;
      color: $color-texto;
      background-color: $color-principal;
      font-size: 2rem;
      margin: 1rem 0;
    }
    h3 {
      font-size: 20px;
      color: $color-principal;
    }
    .parrafo-secundario {
      color: $color-texto;
      position: relative;
      bottom: 20px;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      position: relative;
      bottom: 20px;
    }
    @media (min-width: 320px) {
      .box-container {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 200px;
        .box {
          width: 100px;
        }
      }
    }
  }
}

.content-price {
  background: url(../assets/images/preciostres.jpg) no-repeat center;
  background-size: cover;
  text-align: center;

  p {
    color: $color-fondo;
    font-weight: 800;
    padding: 0 100px;
  }
  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid $color-principal;
    color: $color-texto;
    background: $color-principal;
  }
  .btn:hover {
    background: none;
  }
  @media (min-width: 320px) {
    .title {
      font-size: x-large;
      font-weight: 800;
      position: relative;
      top: 100px;
      color: rgb(225, 109, 66);
      background-color: antiquewhite;
    }
    p {
      width: 0px;
      visibility: hidden;
    }
    .btn {
      position: relative;
      bottom: 60px;
    }
  }
  @media (min-width: 768px) {
    .title {
      color: $color-principal;
      font-weight: 800;
      font-size: x-large;
    }
  }
}

.contact {
  padding-top: 20px;
  padding-bottom: 0;
  background-color: rgb(33 31 31);
  height: 300px;
  .title {
    font-weight: 800;
  }
  p {
    color: $color-texto;
  }
  .btn {
    display: inline-block;

    padding: 10px 40px;
    border: 2px solid $color-principal;
    color: $color-texto;
    background: $color-principal;
    position: relative;
    top: 50px;
  }
  .btn:hover {
    background: none;
  }
}
