.cuerpo-home {
  background-color: rgb(18, 18, 18);
  main {
    height: 900px;
    width: min(90ch, 100% - 4rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .container {
      .row {
        width: 300px;
        margin-left: 20px;
        .miClase {
          .titulo {
            color: $color-principal;
          }
        }
      }
    }
  }
  @media (min-width: 420px){
    
  }
}
